<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogoo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.BloodUnity"
        tools:targetApi="31">
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBivh0JcU7Lye81Kf80cyj1ZfZVno2XO2w" />

        <activity
            android:name=".activity.UserInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.otp.Otp_Verification_Activity1"
            android:exported="true" />
        <activity
            android:name=".activity.Bottom_Navigation_Activity"
            android:exported="true" />
        <activity
            android:name=".activity.onboarding.Viewpager_type_Activity_03"
            android:exported="true" />
        <activity
            android:name=".activity.onboarding.Viewpager_type_Activity_02"
            android:exported="true" />
        <activity
            android:name=".activity.onboarding.Viewpager_type_Activity_01"
            android:exported="true" />
        <activity
            android:name=".activity.otp.Otp_Verification_Activity2"
            android:exported="true" />
        <activity
            android:name=".activity.Forget_Pass_Activity"
            android:exported="true" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Splash_Screen_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>
